PORT=3000
MQTT_URL=mqtts://fe5fa55957644bae8568e62c988c3811.s1.eu.hivemq.cloud:8883
MQTT_USER=FILL_IN_HIVEMQ_USERNAME
MQTT_PASS=FILL_IN_HIVEMQ_PASSWORD
TOPIC_STATUS=fridge01/status
TOPIC_CMD=fridge01/cmd
